# headings
snippet h2
	<h2>${1:item}</h2>
snippet h3
	<h3>${1:item}</h3>
snippet h4
	<h4>${1:item}</h4>
snippet h5
	<h5>${1:item}</h5>
snippet p
	<p>${1:paragraph}</p>
# CSS
snippet css
	<link rel="stylesheet" href="${1:CSSURL}" />
